
<section id="banner" data-vide-bg="{{site.baseurl}}/assets/video/{% if site.video %}{{ site.video }}{% endif %}" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%">
  <div class="wrapper">
    <div class="content">
      <h2 class="title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}从北京到奥克兰{% endif %}</h2>
      <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}10532公里{% endif %}</h2>
      <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}13.5小时{% endif %}</h2>
      <h2 class="title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}为您讲述自己成功移民新西兰的真实故事{% endif %}</h2>
    </div>
  </div>
</section> <!-- End Section Banner -->
